{% extends 'base.html' %}

{% block content %}
<div class="" style="margin-top: 120px; ">
    <section id="about">
        <div class="inner-width">
            <h1 class="section-title name_project mb-0">{{ movie.name }}</h1>
            <div class="heading-line mx-auto w-100 mb-3"></div>
            
            <div class="about-content">
                <div class="about-text">
                    <h2 class="text-center mb-5">{{ movie.production_year }} | 
                        {% for genre in movie.genres %}
                            <span class="">{{ genre.name }}</span>
                        {% endfor %} | <span>★</span>Рейтинг<span></span></h2>
                </div> 
            </div>
        </div>
    </section>
    <section class="sec1" style="background-color: #fdf5e6;">
        <div class="projdesc"></div>
        <div class="container">
            <img class="img-fluid w-100" src="{{ movie.poster.url }}" alt="...">
            <div class="info-menu">
                <h2 class="mb-3 text-center font-weight-bold">О фильме</h2>
                <p>{{ movie.html | safe }}</p>
            </div>
        </div>
    </section>
    <section class="d-flex flex-column " id="part">
        <!--style="background: linear-gradient(#403F4C, #fdf5e6) !important;"-->

        <div style="flex-grow: 2" class="d-flex" id="wrapper">

            <!-- Page Content -->
            <div id="page-content-wrapper" style="width: 100% !important;">

                <div class="container-fluid px-3 px-md-5 pb-5">
                    <h1 class="section-title name_project" style="margin-bottom: 30px;">Подробнее</h1>
                    <div class="table-scrollable">

                    <table class="table table-scrollable" style="color: #f2f2f2; font-weight: bold;">
                        <thead style="background-color: #ce5353;">
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for people in teams %}
                            <tr>
                                <td>Страна производства:</td>
                                <td>{{ movie.country }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Продюсер: </td>
                                <td>{{ movie.producer }}</td>
                            </tr>
                            <tr>
                                <td>Сценарист: </td>
                                <td>{{ movie.screenwriter }}</td>
                            </tr>
                            <tr>
                                <td>Актёры: </td>
                                <td>{{ movie.actors }}</td>
                            </tr><tr>
                                <td>Продолжительность: </td>
                                <td>{{ movie.duration }} мин.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
{% endblock %}