{% extends 'base.html' %}

{% block content %}

    <h1 class="my-5 text-center">Модерация рецензий</h1>

    <div class="card text-center w-75 mx-auto">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'reviews.unmoderated' %}active{% endif %}" href="{{ url_for('reviews.unmoderated') }}">На рассмотрении</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'reviews.approved' %}active{% endif %}" href="{{ url_for('reviews.approved') }}">Одобрено</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'reviews.rejected' %}active{% endif %}" href="{{ url_for('reviews.rejected') }}">Отклонено</a>
                </li>
            </ul>
        </div>
        <div class="card-body pb-1">
            {% block tab_content %}
            {% endblock %}
        </div>
    </div>

{% endblock %}