{% extends 'base.html' %}

{% block content %}

<section class="d-flex flex-column " id="part">
    <div style="flex-grow: 2" class="d-flex" id="wrapper">
        <div id="page-content-wrapper" style="width: 100% !important;">
            <div class="container-fluid px-3 px-md-5 pb-5">
                <h1 class="section-title name_project" style="margin-bottom: 30px;">Решение</h1>
                <div class="table-scrollable">

                <table class="table table-scrollable" style="color: #f2f2f2; font-weight: bold;">
                    <tbody>
                        <tr>
                            <td>{{ review.movie.name }}</td>
                            <td>{{ review.user.full_name }}</td>
                            <td>{{ review.rating }}</td>
                            <td>{{ review.html | safe }}</td>
                            <td>{{ review.created_at }}</td>
                            <td>
                                <a href="{{ url_for('reviews.confirm_cancel', review_id=review.id, confirm='false') }}" type="button" class="btn btn-danger">Отклонить</a>
                                <a href="{{ url_for('reviews.confirm_cancel', review_id=review.id, confirm='true') }}" type="button" class="btn btn-success">Одобрить</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}