{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}

<section class="d-flex flex-column " id="part">
    <div style="flex-grow: 2" class="d-flex" id="wrapper">
        <div id="page-content-wrapper" style="width: 100% !important;">
            <div class="container-fluid px-3 px-md-5 pb-5">
                <h1 class="section-title name_project" style="margin-bottom: 30px;">Мои рецензии</h1>
                <div class="table-scrollable">

                <table class="table table-scrollable" style="color: #f2f2f2; font-weight: bold;">
                    <tbody>
                        {% for review in reviews %}
                        <tr>
                            <td>{{ review.movie.name }}</td>
                            <td>{{ review.rating }}</td>
                            <td>{{ review.created_at }}</td>
                            <td>{{ review.html | safe }}</td>
                            <td>
                                {% if review.status == 'На рассмотрении' %}<h4><span class="badge badge-secondary">На рассмотрении</span></h4>{% endif %}
                                {% if review.status == 'Одобрено' %}<h4><span class="badge badge-success">Одобрена</span></h4>{% endif %}
                                {% if review.status == 'Отклонено' %}<h4><span class="badge badge-danger">Отклонена</span></h4>{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</section>

{% if reviews|list|length > 0 %}
{{ render_pagination(pagination, request.endpoint) }}
{% else %}
<p class="text-center">Рецензии отсутствуют</p>
{% endif %}

{% endblock %}

