{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}
{% block content %}
<div class="title-area text-center d-flex p-3">
    <div class="m-auto">

        <h1 class="title mb-5 font-weight-bold">Образовательный портал</h1>

        <div class="container">
            <p class="description w-75 mb-5 px-3 mx-auto">
                Мы создаем и продвигаем технологии онлайн-образования как эффективный
                образовательный инструмент, который будет способствовать повышению
                доступности и качества образования.
            </p>

            <div class="filter my-5 p-3 bg-dark rounded">
                <form action="" class="row align-items-center">
                    <div class="col-sm-12 mb-3 col-md-6 mb-md-0">
                        <input type="text" class="form-control" id="course-name" name="name"
                            placeholder="Название курса">
                    </div>



                    <div class="col-sm-12 col-md-2 align-self-end">
                        <button type="submit" class="btn btn-primary w-100 mt-auto">Найти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<h1 class="title mb-5 font-weight-bold">Последние посты</h1>
<div class="row">
    {% for movie in movies %}
    <div class="col-md-4 d-flex">
        <div class="card mb-3">
            <img class="card-img-top" src="{{ movie.poster.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{movie.name}}</h5>
                <p class="card-text">
                    Опубликовано в <b>{{movie.production_year}}</b>
                </p>
                <p class="card-text">
                    Жанр:{% for genre in movie.genres %}
                    <span class=" p-2"><b>{{ genre.name }}</b></span>
                    {% endfor %} 
                </p>
                <a href="" class="btn btn-primary">Читать дальше &rarr;</a>
            </div>
            <div class="card-footer">
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                    <a href="{{ url_for('processes.read', movie_id=movie.id) }}" type="button"
                        class="btn btn-primary">Просмотр</a>
                    {% if current_user.is_authenticated and (current_user.role.name == 'admin' or
                    current_user.role.name == 'moder') %}
                    <a href="{{ url_for('processes.update', movie_id=movie.id) }}" type="button"
                        class="btn btn-dark">Обновить</a>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.role.name == 'admin' %}
                    <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-movie-modal"
                        data-movie="{{ movie.name }}"
                        data-url="{{ url_for('processes.delete', movie_id=movie.id) }}">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if movies %}
<div class="mb-3">
    {{ render_pagination(pagination, request.endpoint) }}
</div>
{% endif %}
<div class="text-center d-flex p-3">
    <div class="m-auto w-50">
        {% if current_user.is_authenticated and current_user.role.name == 'admin' %}
        <a href="{{ url_for('processes.new') }}" type="button" class="btn btn-dark w-75 mb-5">Добавить фильм{{ movie }}</a>
        {% endif %}
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="delete-movie-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удаление фильма</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить фильм <span id="movie-name"></span> ?</p>
                <form action="" method="POST" class="d-none">
                    <input type="submit" name="delete-btn" id="delete-btn">
                </form>
            </div>
            <div class="modal-footer">
                <label for="delete-btn" class="btn btn-danger mb-1">Да</label>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}